/* DEBUG */

/* [class="container"] {
  background-color: rgba(255, 20, 147, 0.5);
  border: 1px solid black;
  min-height: 50px;
  margin-bottom: 10px;
}

[class^="col"] {
  background-color: rgba(0, 191, 255, 0.5);
  height: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
} */

/* GENERAL */

h2 {
  color: #333333;
}

/* UTILITIES */

/* STAR */

.rc-star .rc-line {
  display: inline-block;
  width: 20%;
  height: 5px;
  border-radius: 5px;
}

/* COLOR */

.rc-text-darkblue {
  color: #1B2530;
}

/* BG-COLOR */

.rc-bg-darkblue {
  background-color: #1B2530;
}







/* HEADER */
header {
  min-height: 90px;
  background-color: #2C3E50;
}

.navbar-toggler.rc-navbar {
  border-color: white;
}

.navbar-toggler.rc-navbar span {
  filter: invert(1);
}


/* JUMBOTRON */

.jumbotron {
  background-color: #53BD9D; 
}

.jumbotron img {
  width: 225px;
}



/* MAIN */
.about {
  background-color: #53BD9D;
}

.container-custom {
  max-width: 730px;
  margin: 0 auto;
}

/* FOOTER */

.footer-top {
  background-color: #3A546D;
}

.footer-bottom {
  background-color: #2C3E50;
}

