/* UTILITIES */

/* layout */

.rc-container {
  width: 60%;
}

/* star */

.rc-star .rc-line {
  display: inline-block;
  width: 20%;
  height: 5px;
  border-radius: 5px;
}

/* color */

.rc-text-lightblack {
  color: #333333;
}

.rc-text-darkblue {
  color: #1B2530;
}

/* bg-color */

.rc-bg-darkblue {
  background-color: #1B2530;
}


/* HEADER */
header {
  min-height: 90px;
  background-color: #2C3E50;
}

.navbar-toggler.rc-navbar {
  border-color: white;
}

.navbar-toggler.rc-navbar span {
  filter: invert(1);
}


/* JUMBOTRON */

#jumbotron {
  background-color: #53BD9D; 
}

#jumbotron img {
  width: 225px;
}


/* MAIN */

/* portfolio */

#portfolio .container .row:last-child .col:hover img {
  filter: brightness(0.5);
  cursor: pointer;
}

#portfolio .container .row:last-child .col::after {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: white;
  display: none;
}

#portfolio .container .row:last-child .col:hover::after {
  display: block;
}

/* about */

#about {
  background-color: #53BD9D; 
}




.about {
  background-color: #53BD9D;
}

.container-custom {
  max-width: 730px;
  margin: 0 auto;
}

/* FOOTER */

.footer-top {
  background-color: #3A546D;
}

.footer-bottom {
  background-color: #2C3E50;
}

